$primary-background: url(../images/Reception.png);
$dark-color: #454647;
$less-dark: #D4D7D9;
$white: #F7F2F7;
$greish: #827B72;
$pastel: #DBD2C5;
//font-family: 
$main-font: 'Prata', serif;
$secondary-font: 'Karma', serif;
$cardBoxShadow: rgba(45, 26, 26, 0.56) 0px 22px 50px 4px;
$inputBoxShadow: rgba(45, 26, 26, 0.56) 5px 5px 5px 4px;

