$primary-background: #D4D7D9;
$dark-color: #454647;
$less-dark: #D4D7D9;
$white: #F7F2F7;
$greish: #827B72;
$pastel: #DBD2C5;
//font-family: 
$main-font: 'Prata', serif;
$secondary-font: 'Karma', serif;
$cardBoxShadow: rgba(20, 8, 8, 0.825) -2px 2px 2px 0px;
$inputBoxShadow: rgba(72, 64, 64, 0.825) -2px 2px 2px 0px;

