/* This is an example of how to import a partial scss file*/
@import '_variables';
@import 'mixins.scss';

html {
  height: 100%;
  @include flex-column()
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  background-image: $primary-background;
  background-size: 1880px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  resize: both;
  font-family: $main-font;
}

header {
  background-color: $dark-color;
}

h1 {
  color: $white;
  margin-left: 7vw;
  font-size: xx-large;
}
nav {
  color: $white;
  @include flex-row();
  align-items: center;
  justify-content: space-between;

  a:link {
    text-decoration: none;
  }

  ul {
    list-style-type: none;

    button {
      // background-color: transparent;
      color: $less-dark;
      margin-right: 7vw;
      width: 100px;
      height: 5vh;
      border-radius: 20px;
      background-color: $greish;
    }
  }
}

.main-container__new-booking {
  @include flex-row();
  justify-content: space-around;
}

.main-container__new-booking__form,
.main-container__new-booking__bookings,
.main-container__log-in__box,
.main-container__room-render__room {
  width: 30vw;
  height: 55vh;
  @include flex-column();
  opacity: .95;
  justify-content: flex-start;
  align-items: center;
  background-color: $pastel;
  margin-top: 10vh;
  border-radius: 7px;
  box-shadow: rgba(45, 26, 26, 0.56) 0px 22px 50px 4px;
  h3 {
    padding-left: 1vw;
  }
  p {
    margin: 1vw;
    color: $dark-color;
    font-size: 15px;
    text-align:center;
  }
  button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: $less-dark;
    color: $greish;
  }
  input[type=submit] {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: $less-dark;
    color: $greish;
  }
}

.booking-list {
  max-height: 38vh;
  --contentHeight: 35vh;
  overflow: scroll;
  p {
    width: 200px;
    height: 2vh;
    background-color: $white;
    font-size: 15px;
    text-align:center;
  }
}

.checkin-input,
.checkout-input {
  @include flex-row();
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3vh;
  div {
    @include flex-column();
    align-items: center;
    align-content: space-around;
    label {
      padding: 1vh;
    }
  }
}

.submit {
  margin-left: 1vw;
}

.main-container__rooms__tags {
  margin-top: 2vh;
  height: 8vh;
  width: 95vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  form {
    display: flex;
    justify-content: center;
    width: 1500px;
  }
  label {
    background-color: $less-dark;
    min-width: 130px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 16px;
    margin: 0 10px 8px;
    text-align: center;
    padding-top: 6px;
    font-size: .75em;
    text-transform: capitalize;
  }
  input[type=checkbox] {
    opacity: 0;
    position: fixed;
    width: 0;
    &:checked + label {
      background-color: $white;
    }
  }
}

.main-container__rooms {
  @include flex-column();
  align-items: center;
  h2 {
    color: $dark-color
  }
}
.main-container__rooms__pool {
  display: grid;
  height: 75vh;
  width: 95vw;
  grid-template-columns: [first] 20% [second] 20% [third] 20% [fourth] 20% [five] 20%[end];
  grid-template-rows: [first-row] 45% [second-row] 45%;
  grid-auto-flow: row;
  row-gap: 3%;
  padding-left: 2%;
  --contentWidth: 95vw;
  overflow: scroll;
  div {
    max-width: 300px;
    box-shadow: rgba(45, 26, 26, 0.56) 0px 22px 50px 4px;
    img {
      max-height: 20vh;
      border-radius: 7px 7px 0 0;
    }
    p {
      text-transform: capitalize;
      padding-left: 7px;
    }
    border-radius: 7px;
    background-color: $pastel;
    opacity: .9;
    @include flex-column();
  }
}

.room-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $white;
  align-items: stretch;
  box-shadow: rgba(45, 26, 26, 0.56) 0px 22px 50px 4px;
}

.main-container__log-in,
.main-container__room-render {
  display: flex;
  justify-content: center;
}

.log-in-form {
  margin-top: 10vh;
  input[type=submit] {
    margin-top: 2vh;
  }
  label {
    margin-top: 4vh;
  }
  @include flex-column();
  align-items: center
}

.log-in-error {
  margin: 2px;
  color: red;
  font-size: 13px;
}

.main-container__room-render__room {
  img {
    height: 30vh;
    width: 30vw;
    border-radius: 7px 7px 0 0;
    opacity: 1;
  }
  article {
    margin: 2vh 2vh 0 2vh;
  }
  button {
    margin-top: 2vh;
  }
}

.hidden {
  display: none;
}